<div class="calculator">
  <h1>CALCULADORA</h1>
  <div class="calculator-container">
    <div class="operator">
      <input
        class="form-control form-control-lg"
        type="number"
        (input)="A($event)"
        placeholder="Ingresa un número"
        aria-label=".form-control-lg example"
      />
      <span *ngIf="spanOcult1">Ingresa el dato correctamente</span>

      <input
        class="form-control form-control-lg"
        type="number"
        (input)="B($event)"
        placeholder="Ingresa un número"
        aria-label=".form-control-lg example"
      />
      <span *ngIf="spanOcult2">Ingresa el dato correctamente</span>
    </div>
    <div class="buttons">
      <div class="button-group">
        <button (click)="Suma()" (click)="SpanOcult()" class="btn btn-primary">
          SUMAR
        </button>
        <button (click)="Resta()" (click)="SpanOcult()" class="btn btn-primary">
          RESTAR
        </button>
      </div>
      <div class="button-group">
        <button
          (click)="Multiplicar()"
          (click)="SpanOcult()"
          class="btn btn-primary"
        >
          MULTIPLICAR
        </button>
        <button
          (click)="Dividir()"
          (click)="SpanOcult()"
          class="btn btn-primary"
        >
          DIVIDIR
        </button>
      </div>
    </div>
  </div>
  <div class="result" *ngIf="Ocult">
    <div class="title">RESULTADO:</div>
    <div class="result-span">{{ result == 0 ? "" : result }}</div>
  </div>
</div>
