<div class="calculator" [ngClass]="{ close: close, calculator: !close }">
  <div class="calculator-title">
    <div class="calc-title">
      <h1>CALCULADORA</h1>
      <button (click)="Close()">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>
    </div>
  </div>
  <div class="calculator-container">
    <div class="operator">
      <input
        class="form-control form-control-lg"
        type="text"
        (input)="A($event)"
        placeholder="Ingresa un número"
        z
        aria-label=".form-control-lg example"
        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
      />
      <div *ngIf="spanOcult1"><span>Ingresa el dato correctamente</span></div>
      <input
        class="form-control form-control-lg"
        type="text"
        (input)="B($event)"
        placeholder="Ingresa un número"
        aria-label=".form-control-lg example"
        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
      />
      <div *ngIf="spanOcult2"><span>Ingresa el dato correctamente</span></div>
    </div>
    <div class="buttons">
      <div class="button-group">
        <button (click)="Suma()" (click)="SpanOcult()" class="btn btn-primary">
          SUMAR
        </button>
        <button (click)="Resta()" (click)="SpanOcult()" class="btn btn-primary">
          RESTAR
        </button>
      </div>
      <div class="button-group">
        <button
          (click)="Multiplicar()"
          (click)="SpanOcult()"
          class="btn btn-primary"
        >
          MULTIPLICAR
        </button>
        <button
          (click)="Dividir()"
          (click)="SpanOcult()"
          class="btn btn-primary"
        >
          DIVIDIR
        </button>
      </div>
    </div>
  </div>
  <div class="result" *ngIf="Ocult">
    <div class="title">RESULTADO:</div>
    <div class="result-span">{{ result == 0 ? "" : result }}</div>
  </div>
</div>
