.calculator{
    border: 2px solid black;
    background-color: rgb(77, 77, 77);
    width: 60%;
    margin: 20% 20% 5% 20%;
    border-radius: 10px;
}

.calculator-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
}

.calculator-title{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.close{
    display: none;
}

.calc-title{
    width: 100%;
    height: 5vh;
    margin-top: 5%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
}

.calc-title button{
    width: 5%;
    border: none;
    background-color: transparent;
}

.calc-title button:hover{
    transform: scale(1,1.25);
    transition: 200ms;
}

.calc-title h1{
    width: 95%;
    color: rgb(133, 133, 133);
    -webkit-text-stroke: 2px black;
    font-family: monaco,Consolas,Lucida Console,monospace;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.operator{
    width: 45%;
}

.operator input{
    width: 75%;
    margin: 10% 12.5% 2% 12.5%;
}

.operator div{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    color: white;
    text-align: center;
    font-family: monaco,Consolas,Lucida Console,monospace;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5%;
    background-color: red;
}

.buttons{
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button-group{
    margin-top: 10%;
}

.buttons button{
    width: 95%;
    margin: 2% 1% 2% 1%;
    height: 5vh;
    color: black;
    font-weight: bold;
    font-size: 1.2vh;
    background-color: white;
    border: 2px solid black;
}

.result{
    width: 100%;
    font-family: monaco,Consolas,Lucida Console,monospace; 
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}  

.title{
    width: 50%; 
    color: white;
    font-family: monaco,Consolas,Lucida Console,monospace;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    -webkit-text-stroke: 2px black;
}

.result-span{
    font-family: monaco,Consolas,Lucida Console,monospace; 
    font-size: 30px;
    font-weight: bold;
    width: 50%;
    margin-top: 1%;
    text-align: center;
    color: white;
}