<div class="personas-container">
  <form class="add-date">
    <div class="div-date">
      <div class="date">
        <label for="nombre" class="sr-only">Nombre</label>
        <input
          class="form-control"
          type="text"
          name="nombre"
          id="nombre"
          placeholder="Nombre"
          [(ngModel)]="nombreInput"
        />
      </div>
      <div class="date">
        <label for="nombre" class="sr-only">Apellido</label>
        <input
          class="form-control"
          type="text"
          name="apellido"
          id="apellido"
          placeholder="Apellido"
          [(ngModel)]="apellidoInput"
        />
      </div>
    </div>
    <div class="div-button">
      <button class="add-person" (click)="Add()">Agregar</button>
    </div>
  </form>
  <div class="list">
    <h1>LISTA DE PERSONAS</h1>
    <div class="list-person" *ngFor="let persona of personas; let i = index">
      {{ i + 1 }}.- {{ persona.nombre }} {{ persona.apellido }}
      <button type="submit" class="btn btn-info" (click)="Edit()"> Editar</button>
    </div>
  </div>
</div>
