<div class="container">
  <div [ngClass]="{ left: open, lefttransform: !open }">
    <div [ngClass]="{ ocultbuttons: ocult, showbutttons: !ocult }">
      <div class="a-title">
        <a (click)="mostrarpostres()">POSTRES</a>
      </div>
      <div class="a-title">
        <a (click)="mostrarcalculadora()">CALCULADORA</a>
      </div>
      <div class="a-title">
        <a (click)="mostrarpersonas()">PERSONAS</a>
      </div>
    </div>
    <div>
      <button (click)="transform()">...</button>
    </div>
  </div>
  <div class="rigth">
    <div *ngIf="postre">
      <app-postres></app-postres>
    </div>

    <div *ngIf="calculadora">
      <app-calculadora></app-calculadora>
    </div>

    <div *ngIf="personas">
      <app-personas></app-personas>
    </div>
  </div>
</div>
