<div class="container">
  <div class="left">
    <button (click)="mostrarpostres()">Postres</button>
    <button (click)="mostrarcalculadora()">Calculadora</button>
    <button (click)="mostrarpersonas()">Calculadora</button>
    <!-- <button (click)="(mostrarpersonas)">Lista de personas</button> -->
  </div>
  <div class="rigth">
    <div *ngIf="postre">
      <app-postres></app-postres>
    </div>

    <div *ngIf="calculadora">
      <app-calculadora></app-calculadora>
    </div>
  </div>
  <div *ngIf="personas">
    <app-personas></app-personas>
  </div>
</div>
