.container{
    width: 100%;
    height: 100vh;
    border: 2px solid black;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: row;
}

.left{
    width: 30%;
    background-color: rgb(70, 70, 70);
}

.rigth{
    width: 70%;
    border: 2px solid yellow;
}